.user-profile {
  width: 100%;
  @include flex-column;
  justify-content: flex-start;
  padding: 25px 0px;

  &__presentation {
    @include flex-center;
    gap: 50px;
  }

  &__form {
    position: relative;
  }

  &__label {
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
  }

  &__img {
    border-radius: 100%;
  }

  &__input {
    display: none;
  }

  &__main {
    @include flex-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 25px;
    width: 100%;
    margin-top: 25px;
    padding: 0px 25px;
    max-height: 90%;
    //TODO: figure out better way to handle overflow
    overflow-y: scroll;
  }

  &__main-left {
    @include flex-column;
    gap: 25px;
    width: 75%;

    @media (min-width: 768px) {
      width: 80%;
    }

    @media (min-width: 1025px) {
      width: 50%;
    }
  }

  &__friends,
  &__details {
    @include container-padding;
    @include container-box-shadow;
    @include flex-column;
    gap: 20px;
  }

  &__details-title,
  &__friends-title {
    text-align: left;
    text-decoration: underline;
  }

  &__main-right {
    @include flex-column;
    width: 100%;
  }

  &__posts-list {
    @include flex-column;
    align-items: flex-start;
    gap: 25px;
    width: 90%;
    margin-top: 30px;

    @media (min-width: 768px) {
      width: 80%;
      margin-top: 50px;
    }
  }

  &__no-posts-msg {
    font-size: 2.5rem;
  }
}
