.post-details-modal {
  @include modal-container;

  &__overlay {
    @include modal-overlay;
  }

  &__content {
    @include container-padding;
    @include container-box-shadow;
    z-index: 101;
    position: relative;
    width: 90%;
    max-height: 90%;

    @media (min-width: 768px) {
      width: 70%;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @include button-reset;
  }

  &__close-icon {
    width: 30px;
    height: 30px;
  }

  &__content {
    @include flex-column;
  }

  &__top-container {
    @include flex-between;
    flex-direction: column-reverse;
    gap: 20px;
    width: 80%;

    @media (min-width: 480px) {
      flex-direction: row;
    }
  }

  &__owner-wrapper {
    @include flex-center;
    gap: 15px;
    margin-right: auto;

    @media (min-width: 480px) {
      margin: initial;
    }
  }

  &__profile-img {
    border-radius: 100%;

    @media (min-width: 768px) {
      cursor: pointer;
    }
  }

  &__owner {
    @media (min-width: 1024px) {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__createdAt {
    font-size: 0.8rem;
    color: gray;
  }

  &__overflow {
    overflow-y: scroll;
    width: 90%;
  }

  &__body {
    margin-top: 20px;
    width: 100%;
  }

  &__image {
    margin: 20px auto 0px auto;
    width: 100%;
  }

  &__bottom-container {
    @include flex-around;
    width: 100%;
  }

  &__edit-button,
  &__action-button {
    @include button-reset;
    @include flex-center;
    gap: 10px;
    cursor: pointer;
  }

  &__action-button {
    margin-top: 25px;
  }

  &__edit-icon,
  &__action-icon {
    width: 20px;
    height: 20px;
  }

  &__liked {
    color: rgb(21, 255, 0);
  }

  &__comments-container {
    @include flex-column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
  }

  &__form {
    @include flex-center;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
  }

  &__text-area {
    width: 100%;
    font-family: "Oswald", sans-serif;
    border-radius: 15px;

    @media (min-width: 768px) {
      width: 60%;
    }
  }

  &__submit-button {
    @include button-secondary;
  }
}
