.feed {
  &__form {
    width: 80%;
    display: flex;
    gap: 20px;
  }

  &__textarea {
    width: 100%;
    resize: none;
    padding: 10px 20px;
    font-family: "Oswald", sans-serif;
    border: 1px solid black;
    border-radius: 15px;
  }

  &__button {
    @include button-secondary;
  }
}
