.feed {
  &__form {
    @include flex-column;
    width: 90%;
    gap: 20px;

    @media (min-width: 480px) {
      width: 75%;
    }

    @media (min-width: 768px) {
      width: 80%;
    }
  }

  &__main {
    width: 100%;
    display: flex;
    gap: 20px;
  }

  &__textarea {
    width: 100%;
    resize: none;
    padding: 10px 20px;
    font-family: "Oswald", sans-serif;
    border: 1px solid black;
    border-radius: 15px;
  }

  &__button {
    @include button-secondary;
  }

  &__error-alert-wrapper {
    @include container-box-shadow;
    @include container-padding;
    @include flex-center;
    width: 100%;
  }

  &__error-alert {
    color: red;
  }

  &__attachment {
    @include flex-center;
    @include container-box-shadow;
    gap: 20px;
    width: 100%;
    padding: 10px;
  }

  &__attachment-icon {
    width: 25px;
    height: 25px;
  }

  &__image-input {
    border: none;
  }
}
