.post-edit-modal {
  @include modal-container;

  &__overlay {
    @include modal-overlay;
  }

  &__content {
    @include container-padding;
    @include container-box-shadow;
    z-index: 101;
    position: relative;
    width: 90%;

    @media (min-width: 768px) {
      width: 80%;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @include button-reset;
  }

  &__close-icon {
    width: 30px;
    height: 30px;
  }

  &__title {
    @include form-title;
    text-align: center;
  }

  &__form {
    @include flex-column;
    gap: 20px;
    width: 100%;
  }

  &__text-area {
    width: 100%;
    font-family: "Oswald", sans-serif;
    outline: none;
    border: none;
  }

  &__label {
    position: relative;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 35px;
    height: 35px;
  }

  &__image-label {
    max-width: 100%;
  }

  &__file-input-image {
    display: none;
  }

  &__button {
    @include button-secondary;
  }
}
