.sidebar {
  @include flex-column;
  @include container-padding;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0.5;
  min-width: 250px;
  height: 100%;
  background-color: var(--primary);
  transition: transform 0.3s ease-in-out;

  @media (min-width: 1400px) {
    display: flex;
    position: static;
  }

  &__close-button {
    @include button-reset;
    position: absolute;
    top: 10px;
    right: 10px;

    @media (min-width: 1400px) {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__close-icon {
    width: 30px;
    height: 30px;
  }

  &__navigation-list {
    @include flex-column;
    align-items: flex-start;
    gap: 20px;
  }

  &__navigation-link {
    @include flex-center;
    gap: 25px;
    color: black;
    font-size: 2rem;
    cursor: pointer;

    @media (min-width: 1025px) {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &__friends-requests-count {
    font-size: 1rem;
    color: white;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 25px;
      height: 25px;
      background-color: red;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  &__toggle-button {
    @include button-reset;
    position: fixed;
    top: 20%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;

    @media (min-width: 1400px) {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.is-hidden-overlay {
  opacity: 0;
  pointer-events: none;
}

.is-hidden-sidebar {
  transform: translateX(-100%);
  pointer-events: none;

  @media (min-width: 1400px) {
    transform: translateX(0%);
    pointer-events: initial;
  }
}
