.header {
  background-color: var(--secondary);
  width: 100%;

  &__container {
    @include container-queries;
    @include flex-between;
    min-width: 100%;
  }

  &__logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__user-logged,
  &__user-link {
    @include flex-center;
    gap: 10px;

    @media (min-width: 768px) {
      gap: 20px;
    }
  }

  &__user-img {
    border-radius: 100%;
  }

  &__user-profile {
    border: none;
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;

    @media (min-width: 768px) {
      font-size: 1.6rem;
      display: block;
    }
  }

  &__login-button {
    @include button-primary;
  }
}
